# Configurações do Leitor Local
LOJA_ID=01
LEITOR_ID=LEITOR_ACOUGUE_01
SETOR=AÇOUGUE

# Comunicação com o DVR da Câmera local
DVR_IP=128.128.1.X
DVR_PORT=XXXX

# Comunicação com o Servidor Central Windows
SERVIDOR_CENTRAL_IP=128.128.1.241
SERVIDOR_CENTRAL_PORT=3000